<html lang="en">
  <head>
    <style>
      a {text-decoration: none; color: whitesmoke; background-color: black; font-size: large; padding: 10px;}
      body {background-color: rgb(115, 152, 244);}
      h1 {color: rgb(248, 250, 251); background-color: black; text-align: center; font-weight: 200; padding: 20px;}
      h2 {color: rgb(3, 3, 3); background-color: whitesmoke; text-align: center; margin: 20px;}
      h3 {color: azure; background-color: black; margin: 30px; padding: 5px; text-align: center;}
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="/news">News</a>
      <a href="/funfacts">Fun Facts</a>
      <a href="/pokemon">Pokemon</a>
    </div>
  </head>
  <title>Contact</title>
  <body>
    <h1>Looking for some ways to contact me?</h1>
    <h2>Email: doyleisaac0@gmail.com</h2>
    <h2>Alt Email: isaac.doyle@keyin.com</h2>
    <h2>GitHub: Doyller</h2>
    <h2>Leave a message. (/contact page)</h2>
  </body>
</html>
