<html lang="en">
  <head>
    <style>
      a {text-decoration: none; color: whitesmoke; background-color: black; font-size: large; padding: 10px;}
      body {background-color: rgb(115, 152, 244);}
      h1 {color: rgb(248, 250, 251); background-color: black; text-align: center; font-weight: 200; padding: 5px;}
      h2 {color: rgb(3, 3, 3); background-color: whitesmoke; text-align: center; margin: 20px;}
      h3 {color: azure; background-color: black; margin: 30px; padding: 5px; text-align: center;}
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
  </head>
  <body>
    <h1>Error Message 404-</h1>
    <h2>
      This is not the page you are looking for<br />
      "Obi-Wan Kenobi"
    </h2>
    <a href="/">Want the head to the homepage?</a>
  </body>
</html>
