<html lang="en">
  <head>
    <style>
      a {text-decoration: none; color: whitesmoke; background-color: black; font-size: large; padding: 10px;}
      body {background-color: rgb(115, 152, 244);}
      h1 {color: rgb(248, 250, 251); background-color: black; text-align: center; font-weight: 200; padding: 5px;}
      h2 {color: rgb(3, 3, 3); background-color: whitesmoke; text-align: center; margin: 20px;}
      h3 {color: azure; background-color: black; margin: 30px; padding: 5px; text-align: center;}
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/about">About</a>
      <a href="/contact">Contact</a>
      <a href="/news">News</a>
      <a href="/funfacts">Fun Facts</a>
      <a href="/pokemon">Pokemon</a>
    </div>
  </head>
  <title>Fun Facts</title>
  <body>
    <h1>Here are some fun facts about me (there's not alot)</h1>
    <h2>I work at Best Buy</h2>
    <h2>I'm originally from Winnipeg</h2>
    <h2>
      I joined the reserve force in 2017, later getting medically released due
      to a torn rotator cuff
    </h2>
    <h2>I believe that is all for now</h2>
  </body>
</html>
